.detail{
    display: grid;
    grid-template-columns: 20% 45% 35%;
}
.columna-img{
    display: flex;
    flex-direction: column;
}
/* .img-detail{
    margin: 10px;
    max-width: 10vh;
    min-width: 5vh;
    width: 1000px;
    border: 0.5px #DFE5F2 solid;
    border-radius: 5px;
} */
.productImg{
    min-width: 50vh;
    min-height: 55vh;
}
.principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.parrafo{
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 100px 30px 0;
    text-align: justify;
}
.precio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
}
.descripcion{
    font-size: 12pt;
    font-weight: 300;
}